[Unit]
Description=Poweroff controller
[Service]
ExecStart=/usr/bin/python /root/mimamori-plus/pyShutdown.py
Restart=always
Type=simple
[Install]
WantedBy=multi-user.target
